$colour-position: #EAEAEA;
$colour-background : #F6F6F6;
$colour-text-secondary : #4D4D4D;
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-text_button: #fff;
$colour-shadow_button: #B8B8B8;
$colour-shadow_step: #DCDCDC;
$colour-background_step-3: #F5EDFE;

$padding-block_index: 50px 0;