$colour-position: #EAEAEA;
$colour-discover_block : #F6F6F6;
$colour-text-discover_block : #4D4D4D;
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-text_button: #fff;
$colour_shadow: #B8B8B8;