@font-face {
    font-family: Roboto-Regular;
    src: url("/public/css/webfonts/Roboto/Roboto-Regular.ttf")
}

@font-face {
    font-family: Roboto-Bold;
    src: url("/public/css/webfonts/Roboto/Roboto-Bold.ttf")
}

@font-face {
    font-family: Roboto-Medium;
    src: url("/public/css/webfonts/Roboto/Roboto-Medium.ttf")
}

@font-face {
    font-family: Roboto-Light;
    src: url("/public/css/webfonts/Roboto/Roboto-Light.ttf")
}

@font-face {
    font-family: Roboto-Thin;
    src: url("/public/css/webfonts/Roboto/Roboto-Thin.ttf")
}

@font-face {
    font-family: Shrikhand-Regular;
    src: url("/public/css/webfonts/Shrikhand/Shrikhand-Regular.ttf");
}
