.heading__image {
    object-fit: contain;
    overflow: hidden;
    height: 250px;
    img {
    width: 110%;
    transform: translate(-5%, 0);
    }
}

.menu {
    overflow: hidden;
    border-radius: 25px 25px 0 0;
    background-color: $color-background;
    position: relative;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px 10px 20px;
        width: 380px;
        &--fav-icon {
            font-size: 25px;
        }
    }

    &__starters, &__main-courses, &__desserts {
        width: 380px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin: auto;
    }

    &__starters li {
        opacity: 0;
        animation: menuitem 1s forwards ease-out;
    }

    &__main-courses li {
        opacity: 0;
        animation: menuitem 1s forwards ease-out;
        animation-delay: 1s;
    }

    &__desserts li {
        opacity: 0;
        animation: menuitem 1s forwards ease-out;
        animation-delay: 2s;
    }

    &__information {
        display: flex;
        background-color: #fff;
        margin-bottom: 15px;
        border-radius: 15px;
        box-shadow: 0 5px 10px $color-shadow_step;
        width: 340px;
        height: 70px;
        position:relative;
        overflow: hidden;
    
        &--text {
            padding: 15px;
            &:hover {
                width: 280px;
                padding-right: 20px;
            }
        }
        &:active .menu__check {
            position:absolute;
            display: block;
            font-size: 25px;
            color:#fff;
            background-color: $color-box;
            padding: 21px 20px 20px;
            margin:auto;
            border-radius: 0 15px 15px 0;
            opacity:1;
            transform: translateX(-40px);
            transition: transform 500ms;
            i {
                transform: rotate(360deg);
                transition: transform 500ms;
            }
        }

        &:hover .menu__check {
            position:absolute;
            display: block;
            font-size: 25px;
            color:#fff;
            background-color: $color-box;
            padding: 21px 20px 20px;
            margin:auto;
            border-radius: 0 15px 15px 0;
            opacity:1;
            transform: translateX(-40px);
            transition: transform 500ms;
            i {
                transform: rotate(360deg);
                transition: transform 500ms;
            }
        }

    }

    &__check {
        opacity: 0;
        overflow: hidden;
        right: -40px;
        transform: translateX(0);
        transform: rotate(0);
    }

    &__information--details {
        display: flex;
        align-items: center;
        padding-top: 3px;
    }

    &__price {
        font-family: Roboto-Regular;
        font-size: 15px;
        margin: auto;
    }

    .btn {
        width: 180px;
        margin-top: 30px;
    }
}
