.load {
    width: 200px;
    height: 150px;
    display:flex;
    justify-content: space-between;
    position: fixed;
    background-color:$colour-background_new;
    border-radius:50px;
    padding: 30px 40px;
    &__container{
        width: 100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index:1;
        background-color: rgba(255, 255, 255, 0.5);
        position: fixed;
        animation: loader-position 3s ease-in-out forwards;
    }
    &__bar {
        background: $linear-gradient_color;
        height: 100%;
        width: 12px;
        animation: bars 1s backwards infinite;
        @for $i from 1 through 5 {
            &--#{$i} {
                animation-delay: 200ms * $i;
             }
        }
    }
}