* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
   }

   @import url(/public/css/webfonts/font-family.css);

   h1 {
       font-family: "Roboto-Medium";
   }
body {
    margin: 0;
    padding: 0;
}
