.discover_block {
    h1 {
        padding: 0 30px;
        margin: 40px 0 0;
    }
    h2 {
        font-family: Roboto-Light;
        font-size: 18px;
        color: $colour-text-secondary;
    }
}

.how-to-use {
    h1 {
        padding: 0px 0 20px 20px;
        margin: auto;
        font-family: Roboto-Medium;
        font-size: 20px;
        color: $colour-text-secondary;
    }
}

.restaurant {
    h1 {
        padding: 0px 0 20px 20px;
        margin: auto;
        font-family: Roboto-Medium;
        font-size: 20px;
        color: $colour-text-secondary;
        max-width: 400px;
    }

    &__info {
        h1 {
            font-size: 18px;
            padding: 10px 0 0 15px;
        }

        h2 {
            font-family: Roboto-Thin;
            font-size: 16px;
            padding: 5px 0 0 15px;
            margin: auto;
            color:$colour-text-secondary;
        }
    }
}

@include tablet-desktop {
    .how-to-use {
        h1 {
            padding: $padding-block-title_index;
        }
    }

    .restaurant {
        h1.restaurant__title {
        padding: $padding-block-title_index;
        }
    }
}

.menu {
    &__heading {
        h1 {
        font-family: Shrikhand-Regular;
        font-size: 25px;
        }
    }

    &__title {
        font-family: Roboto-Thin;
        font-size: 18px;
        margin-left: 20px;
        border-bottom: $colour-background_new solid 2px;
        width: 40px;
        padding-bottom: 5px;
    }

    h2 {
        font-family: Roboto-Regular;
        font-size: 17px;
        margin: auto;
    }

    h3 {
        font-family: Roboto-Thin;
        font-size: 15px;
        margin: 0;
        width: 280px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}