.fav {
    color: #000;
    background-color: $color-background;
    &:hover, &:active {
    background: $linear-gradient_color;
    animation: full-heart 500ms ease-in-out;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    }
}