.heading__image {
    object-fit: contain;
    overflow: hidden;
    height: 250px;
    img {
    width: 110%;
    transform: translate(-5%, 0);
    }
}

.menu {
    border-radius: 25px 25px 0 0;
    background-color: $colour-background;
    position: relative;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px 10px 20px;
        width: 380px;
        h1 {
        font-family: Shrikhand-Regular;
        font-size: 25px;
        }
        &--fav-icon {
            font-size: 25px;
        }
    }

    &__starters, &__main-courses, &__desserts {
        width: 380px;
    }

    &__title {
        font-family: Roboto-Thin;
        font-size: 18px;
        margin-left: 20px;
        border-bottom: $colour-background_new solid 2px;
        width: 40px;
        padding-bottom: 5px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin: auto;
    }

    &__information {
        display: flex;
        background-color: #fff;
        margin-bottom: 15px;
        border-radius: 15px;
        box-shadow: 0px 5px 10px $colour-shadow_step;
        width: 340px;
        height: 70px;
        &--text {
            padding: 15px;
        }
        &:hover .menu__check {
            display: block;
            font-size: 25px;
            color:#fff;
            background-color: $colour-background_new;
            padding: 21px 20px 20px;
            margin: auto;
            border-radius: 0 15px 15px 0;
        }
        &:hover .menu__information--text {
            width: 280px;
            padding-right: 20px;
        }
    }

    &__check {
        display: none;
    }

    &__information--details {
        display: flex;
        align-items: center;
        padding-top: 3px;
    }

    h2 {
        font-family: Roboto-Regular;
        font-size: 17px;
        margin: auto;
    }

    h3 {
        font-family: Roboto-Thin;
        font-size: 15px;
        margin: 0;
        width: 280px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__price {
        font-family: Roboto-Regular;
        font-size: 15px;
        margin: auto;
    }

    

}

